# Python
*.pyc
*.pyo
*.pyd
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual Environment
venv/
env/
ENV/
.venv/

# IDEs and editors
.vscode/
.idea/
*.swp
*.swo
*.swn
*.bak

# Jupyter Notebook
.ipynb_checkpoints/

# PyInstaller
dist/
build/
*.spec

# Cython
*.c
*.cpp
*.h

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
lib/
lib64/
parts/
sdist/
var/
.wheelhouse/
*.egg
*.egg-info/
.installed.cfg
*.dist-info/
*.egg-info/

# Testing
.coverage
.coverage.*
nosetests.xml
test_*.xml
*.tox/
*.nox/
*.coverage
*.hypothesis/

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/

# pipenv
Pipfile.lock

# poetry
poetry.lock

# pytest
.cache/

